html, body{
    padding: 0;
    margin: 0;
}
*, ::before, ::after{
    box-sizing: border-box;
}
/*Utilitarios*/
.container2{
    width: 1100px;
    margin: 0 auto;
}
.row{
    display: flex;
    width : 100%;
}
.col-2{
    flex: 0 0 16.66666%;
    max-width: 16.66666%;
}
.col-3{
    flex: 0 0 25%;
    max-width: 25%;
}
.col-4{
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    /*border:dashed;
    box-sizing: border-box;*/
}
.col-6{
    /*padding-right: 15px;
    padding-left: 15px;*/
    flex: 0 0 50%;
    max-width: 50%;
    /*background-size: cover;*/
    /*border:dashed;
    box-sizing: border-box;*/
}
.col-7{
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}
.col-9{
    flex: 0 0 75%;
    max-width: 75%;
}

.mb-10{
    margin-bottom: 10px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-30{
    margin-bottom: 30px;
}
.mb-40{
    margin-bottom: 40px;
}
.mb-50{
    margin-bottom: 50px;
}
.mb-60{
    margin-bottom: 60px;
}
.mb-70{
    margin-bottom: 70px;
}
.mg-0{
    margin: 0 !important;
}
.pd-0{
    padding: 0 !important;
}
.text-center{
    text-align : center;
}
.text-right{
    text-align : right;
}
.text-left{
    text-align : left;
}
.offset8{
    margin-left: 66.666667%;
}
.offset9{
    margin-left: 75%;
}

.c1{
    color:#02b3f7;
}
h1, h2, h3, h4, h5, h6, span, p, strong, a , label{
    font-family: sans-serif;
}
/*Seccion barra de navegacion*/

#navegacion-top{
    background-color:#020202;
    position: fixed;
    top: 40px;
    width: 100%;
    z-index: 1;
}
.container{
    width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul{
    display: flex;
}

nav ul li a{
    color:#02b3f7;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 20px;
    height: 70px;
    display: flex;
    align-items: center;
}
nav ul li a:hover{
    background-color: #02c6ee;
    color:black;
    font-weight: bold;
}

/*
Seccion header
*/
header{
    width: 100%;
    height: 600px;
    background: url("../img/bg-header.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:150px;
    padding-bottom:40px;
}
.info-header{
    width: 700px;
    text-align:center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info-header p{
    text-align: center;
    color: white;
    font-size:20px;
    margin-bottom: 70px;
}
.iluminacion{
    position: relative;
    width: 600px;
    height: 200px;
    
}
.iluminacion span{
    position: absolute;
    font-size: 150px;
    color: transparent;
    -webkit-text-stroke: 3px white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}
.iluminacion :: last-child{
    filter: blur(6px);
}
.btn{
    background: white;
    border: 0;
    padding: 10px 48px;
    font-size: 28px;
    text-transform: uppercase;
    border-radius: 22px;
    font-weight: bold;
    color: #3ea2d8;
}
/*Seccion who*/
#who{
    background-color: black;
    padding : 90px 0;
}
#who p{
    line-height: 28px;
}
section#who p{
    padding-left: 250px;
    padding-right: 250px;
}



/*Seccion we*/
#we{
    padding: 90px;
    background-color:#141414;
    color: white;
    display : flex;
    justify-content: center;
}

.cajaCol{
    width: 1000px;
    display:flex;
    justify-content: center;
}


/*seccion priorities*/
section#priorities{
    background: url("../img/bg-priorities.jpg");
    background-size: cover;
    padding-top: 90px;
    padding-bottom: 700px;
}
.cajaPriori{
    background-color: rgba(39,39,39,0.62);
    color: white;
    height: 350px;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#priorities > .container2 > p{ /*el > es el selector de hijo, es decir que la clase cointaner2 es el hijo de #priorities y la etiqueta p es hijo de la clase container2.*/
    line-height: 30px;
    font-size: 20px;
}
.firma h5{
    margin: 0; 
}

#what{
    background-color:#000;
    padding: 90px 0;
}
.caja-what{
    color: white;
    text-align:center;
    height: 350px;  
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#mensaje1{
    background-color: #141414;
    padding: 90px 0;
}
#mensaje1 p{
    font-size: 20px;
}

#nature .col6 img{
    margin: 0;
    padding : 0;
}
/*seccion nature*/
#nature{
    background-color: #000;
}
#nature img{
    width: 100%;
    display : block;
}
.info-nature{
    padding-left: 160px;
    padding-right: 40px;
    padding-top: 200px;   
}
.info-nature p{
    text-align: justify;
    line-height: 30px;
    font-size: 18px;
}
.info-nature h2{
    font-size: 40px;
}
/*seccion tiquets*/
#tickets{
    background:url("../img/bg-buy.jpg");
    background-size: cover;
    height: 750px;
    color:white;
    padding-top: 70px;
}

#tickets h2{
    font-size: 60px;
}

#fechas{
    background-color: #141414;
    color: white;
    padding: 90px 0;
    font-size: 23px;
    line-height:30px;
}
/*seccion mensaje*/
#mensaje2{
    background-color: #000;
    padding: 90px 0;
    font-size: 20px;
}

/* seccion footer*/
footer{
    background-color: #141414;
    color: white;
    padding: 50px;
    
}
.redes ul{
    display: flex;
    
}
.redes ul li{
    padding : 0 5px;
}
.redes ul li a{
    width: 40px;
    height: 40px;
    background-color: white;
    color: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
}

.barra{
    border: 0;
    padding : 0;
    width: 100%;
    height: 40px;
    background-color:#00b3f8;;
}


