html,
body{
    margin:0;
    padding: 0;
}
*,::after, ::before {
    box-sizing: border-box !important;
    font-family: sans-serif;
}
#calculadora .tecla span,
#pantallaGrande{
    user-select: none;
}
#calculadora{
    width:350px;
    box-shadow: 0 0 3px 3px rgba(0,0,0,0, 0.1);
    margin: 0 auto;
    margin-top: 50px;
    background-color: #e5e5e5;  
}
#pantallaChica{
    width: 100%;
    height: 40px;
    font-size: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    overflow: hidden;

}
#pantallaGrande{
    width: 100%;
    height: 80px;
    font-size: 30px;
    display: flex;
    justify-content: flex-end;/*horizontal*/
    align-items: center;/*vertical*/
    padding: 20px;
    overflow: hidden;
}

#calculadora .fila{
    display: flex;
    width: 100%;
}
/*El display flex del padre .fila hace efecto por medio del campo flex al hijo .tecla*/
#calculadora .tecla{
    flex:0 0 25%;
    height: 60px;
    font-size:22px;
    font-weight: bold;
    padding: 2px 4px;
}

#calculadora .tecla span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    cursor: pointer;
}
#calculadora .tecla span:hover{
    background-color: #c9c9c9;
}
#calculadora .tecla span:active{
    background-color: #e5e5e5;
}